app = 'actual-razor'
primary_region = 'cdg'

[build]
  image = 'actualbudget/actual-server:latest'

[http_service]
  internal_port = 5006
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512

[mounts]
  source = 'actual_data'
  destination = '/data'
